body {
	background-color: #FF0048;
	color: #ff9948; 
	font-family: 'Press Start 2P', cursive;
    height: 600px;
}

h1 {
	  font-size: 40px;
}



.gameBoard {
	border: 5px solid #ff9948;
	height: 500px;
    width: 700px;
    position: absolute;
    
}

.player {
	background-color: #fff351;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 200px;
    left: 330px;
    bottom: 200px;
    top: 350px;
}

/*#test {
    background-color: #fff351;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 200px;
    left: 330px;
    bottom: 200px
}*/

#startGame {
	position: absolute;
    top: 70px;
    background-color: #080808;
    color: #ff9948;
    font-family: 'Press Start 2P', cursive;
    border-radius: 15px;
    text-align: center;
    border: 1px solid #ff9948;
    box-shadow: inset 1px 1px 1px 1px #ff9948;
    outline: none;
    cursor: pointer;
    width: 134px;
    height: 20px;
    display: block;

}

#startGame:hover {
    background-color: #ff9948;
    color: black;
}

#startGame:active {
	background-color: #fff351;
    color: black;
	box-shadow: 0 5px black;
	transform: translateY(2px);

}


#count {
	position: absolute;
    top: 55px;
    right: 530px;
    left: 150px;
    margin-top: 17px;

}

#win {
    position: inherit;
    padding-top: 10px;
    margin-top: 30px;
    height: 900px;
    text-align: left;
    background: #FF0048 url(images/snake.png) no-repeat;
    background-blend-mode: screen;
    background-size: 100%;
    font-size: 55px;
    color: black;
    display: none;

}

#reload {
    position: absolute;
    top: 70px;
    background-color: #080808;
    color: #ff9948;
    font-family: 'Press Start 2P', cursive;
    border-radius: 15px;
    text-align: center;
    border: 1px solid #ff9948;
    box-shadow: inset 1px 1px 1px 1px #ff9948;
    outline: none;
    cursor: pointer;
    width: 134px;
    height: 20px;
    display: none;
}

#reload:hover {
    background-color: #ff9948;
    color: black;
}

#reload:active {
    background-color: #fff351;
    color: black;
    box-shadow: 0 5px black;
    transform: translateY(2px);

}

.food {
    background-color: white;
    position: absolute;
    width: 10px;
    height: 10px;
    

}

#win2 {
    position: inherit;
    padding-top: 10px;
    margin-top: 30px;
    height: 900px;
    text-align: left;
    background: #FF0048 url(images/snake.png) no-repeat;
    background-blend-mode: screen;
    background-size: 100%;
    font-size: 55px;
    color: black;
    display: none;

}

#refresh {
    position: absolute;
    top: 70px;
    background-color: #080808;
    color: #ff9948;
    font-family: 'Press Start 2P', cursive;
    border-radius: 15px;
    text-align: center;
    border: 1px solid #ff9948;
    box-shadow: inset 1px 1px 1px 1px #ff9948;
    outline: none;
    cursor: pointer;
    width: 134px;
    height: 20px;
    display: none;
}

#refresh:hover {
    background-color: #ff9948;
    color: black;
}

#refresh:active {
    background-color: #fff351;
    color: black;
    box-shadow: 0 5px black;
    transform: translateY(2px);

}



