

/*Body and bakckground style */
body {
	background-color: #FF0048;
	color: #ff9948; 
	font-family: 'Press Start 2P', cursive;
    height: 600px;
}


/* Game name font size */
h1 {
	  font-size: 40px;
}


/* Game board styling */
.gameBoard {
	border: 5px solid #ff9948;
	height: 500px;
    width: 700px;
    position: absolute;
    
}

/* Snake styling*/
.player {
	background-color: #fff351;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 200px;
    left: 330px;
    bottom: 200px;
    top: 350px;
}


/* Start game button styling */
#startGame {
	position: absolute;
    top: 70px;
    background-color: #080808;
    color: #ff9948;
    font-family: 'Press Start 2P', cursive;
    border-radius: 15px;
    text-align: center;
    border: 1px solid #ff9948;
    box-shadow: inset 1px 1px 1px 1px #ff9948;
    outline: none;
    cursor: pointer;
    width: 134px;
    height: 20px;
    display: block;

}

/* Start game button hover styling*/
#startGame:hover {
    background-color: #ff9948;
    color: black;
}

/*Start game click styling*/
#startGame:active {
	background-color: #fff351;
    color: black;
	box-shadow: 0 5px black;
	transform: translateY(2px);

}

/* Timer styling*/
#count {
	position: absolute;
    top: 55px;
    right: 530px;
    left: 150px;
    margin-top: 17px;
    color: black;

}

/* Player 1 win message styling*/
#win {
    position: inherit;
    padding-top: 10px;
    margin-top: 30px;
    height: 900px;
    text-align: left;
    background: #FF0048 url(images/snake.png) no-repeat;
    background-blend-mode: screen;
    background-size: 100%;
    font-size: 55px;
    color: black;
    display: none;

}

/* Player 2 button styling*/
#reload {
    position: absolute;
    top: 70px;
    background-color: #080808;
    color: #ff9948;
    font-family: 'Press Start 2P', cursive;
    border-radius: 15px;
    text-align: center;
    border: 1px solid #ff9948;
    box-shadow: inset 1px 1px 1px 1px #ff9948;
    outline: none;
    cursor: pointer;
    width: 134px;
    height: 20px;
    display: none;
}

/* PLayer 2 button hover styling*/
#reload:hover {
    background-color: #ff9948;
    color: black;
}

/* Player 2 button click styling*/
#reload:active {
    background-color: #fff351;
    color: black;
    box-shadow: 0 5px black;
    transform: translateY(2px);

}

/* Food styling*/
.food {
    background-color: white;
    position: absolute;
    width: 10px;
    height: 10px;
}

/* Player 2 win message styling */
#win2 {
    position: inherit;
    padding-top: 10px;
    margin-top: 30px;
    height: 900px;
    text-align: left;
    background: #FF0048 url(images/snake.png) no-repeat;
    background-blend-mode: screen;
    background-size: 100%;
    font-size: 55px;
    color: black;
    display: none;
}

/* Replay button styling*/
#refresh {
    position: absolute;
    top: 70px;
    background-color: #080808;
    color: #ff9948;
    font-family: 'Press Start 2P', cursive;
    border-radius: 15px;
    text-align: center;
    border: 1px solid #ff9948;
    box-shadow: inset 1px 1px 1px 1px #ff9948;
    outline: none;
    cursor: pointer;
    width: 134px;
    height: 20px;
    display: none;
}

/* Replay button hover styling*/
#refresh:hover {
    background-color: #ff9948;
    color: black;
}

/* Replay button styling*/
#refresh:active {
    background-color: #fff351;
    color: black;
    box-shadow: 0 5px black;
    transform: translateY(2px);

}

/*LOOKS GOOD BUT SCREWS UP COLLISION DETECTION */
/*@media  (min-width: 835px) {
    body {
            margin-left: 100px;
    }

    #count {
        margin-left: 100px;
    }

    .player {
        margin-left: 100px;
    }

     #win {
        margin-right: 105px;
    }

    #win2 {
        margin-right: 105px;
    }
}

@media  (min-width: 935px) {
    body {
            margin-left: 150px;
    }

    #count {
        margin-left: 150px;
    }

    .player {
        margin-left: 150px;
    }

     #win {
        margin-right: 155px;
    }

    #win2 {
        margin-right: 155px;
    }
}

@media  (min-width: 1035px) {
    body {
            margin-left: 200px;
    }

    #count {
        margin-left: 200px;
    }

    .player {
        margin-left: 200px;
    }

     #win {
        margin-right: 205px;
    }

    #win2 {
        margin-right: 205px;
    }
}


@media  (min-width: 1135px) {
    body {
            margin-left: 250px;
    }

    #count {
        margin-left: 250px;
    }

    .player {
        margin-left: 250px;
    }

     #win {
        margin-right: 255px;
    }

    #win2 {
        margin-right: 255px;
    }
}

@media  (min-width: 1235px) {
    body {
            margin-left: 300px;
    }

    #count {
        margin-left: 300px;
    }

    .player {
        margin-left: 300px;
    }

     #win {
        margin-right: 305px;
    }

    #win2 {
        margin-right: 305px;
    }


}

@media  (min-width: 1335px) {
    body {
            margin-left: 355px;
    }

    #count {
        margin-left: 355px;
    }

    .player {
        margin-left: 355px;
    }

    #win {
        margin-right: 400px;
    }

    #win2 {
        margin-right: 400px;
    }
}


