/*styling the body and background*/
body {
	color: #080808;
	font-family: 'Press Start 2P', cursive;
	text-align: center;
	margin-top: 300px;
	background: #FF0048 url("images/snake.png") no-repeat; 
	background-blend-mode: screen;
	background-size: 96%;
    background-position: 

}

/*play button styling*/

button {
    background-color: #080808;
    color: #ff9948;
    font-family: 'Press Start 2P', cursive;
    border-radius: 15px;
    text-align: center;
    border: 1px solid #ff9948;
    box-shadow: inset 1px 1px 1px 1px #ff9948;
    padding: 5px 10px 5px 11px;
    height: 32px;
    outline: none;
    cursor: pointer;
}

/*button hover styling*/

#play:hover {
    background-color: #fff351; 
    color: black;
}

/*button click styling*/

#play:active {
    background-color: #ff9948; 
    color: black;
    box-shadow: 0 5px black;
    transform: translat