/*styling the body and background*/
body {
	
    background: #FF0048 url("images/snake.png") no-repeat; 
    background-blend-mode: screen;
    background-size: 96%;
    color: #080808;
	font-family: 'Press Start 2P', cursive;
	margin-top: 300px;
    text-align: center;


}

/*play button styling*/

button {
    
    background-color: #080808;
    border-radius: 15px;
    border: 1px solid #ff9948;
    box-shadow: inset 1px 1px 1px 1px #ff9948;
    color: #ff9948;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    height: 32px;
    outline: none;
    padding: 5px 10px 5px 11px;
    text-align: center;
    
    
}

h1 {

text-shadow: -3px 2px 0 #fff351;

}

p {

text-shadow: -2px 1px 0 #ff9948;


}

/*button hover styling*/

#play:hover {
    background-color: #fff351; 
    color: black;
}

/*button click styling*/

#play:active {
    background-color: #ff9948; 
    box-shadow: 0 5px black;
    color: black;
    transform: translate();

}

